/* 
  WYGP STYLES GOES BELOW
  style='list-style:none; background-color:rgb(230,230,230); margin-top:1%'
*/

.add-container {
  padding:5%;
  margin: 1%;
  width: 80%;
  background-color:white;
  font-weight:bold;
  font-size:20px;
  border-style:solid;
  border-radius:18px;
  border-color:rgb(240,240,240);
  color:black;

  display:flex;
  flex-flow: row;


  /* shadow */
	-moz-box-shadow:    3px 3px 5px 6px rgb(240,240,240);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(240,240,240);
  box-shadow:         3px 3px 6px 5px rgb(240,240,240);
}

.add-container .add-box {
  margin:auto;
  width:100%;
}

.add-container label {
  color:black;
}

.add-container input[type=text] {
  width:70%;
	padding:2%;
	background-color:white;
  margin-left:auto;
  margin-right:auto;
	color:grey;
	border-top:0;border-left:0; border-right:0;
	border-color:rgb(230,0,0);
	font-size:20px;
	font-weight:bold;
}

.add-container input[type=date] {
  width:70%;
	padding:2%;
	background-color:white;
  margin-left:auto;
  margin-right:auto;
	color:grey;
	border-top:0;border-left:0; border-right:0;
	border-color:rgb(230,0,0);
	font-size:20px;
	font-weight:bold;
}

.add-container .form-group input[type=text]:focus {
  outline:none;
  background-color:white;
  color:grey;
}

.add-container textarea{
  background-color:white;
  border-color:rgb(240,240,240);;

  /* shadow */
	-moz-box-shadow:    3px 3px 5px 6px rgb(240,240,240);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(240,240,240);
  box-shadow:         3px 3px 6px 5px rgb(240,240,240);
}

.add-container select {
  background-color:white;
  color:blue;
  margin-left:auto;
  margin-right:auto;
  width:60%;
  padding: 2%;
  border-color:rgb(243, 230, 230);
  font-size: 15px;

  -moz-box-shadow:    3px 3px 5px 6px rgb(240,240,240);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(240,240,240);
  box-shadow:         3px 3px 6px 5px rgb(240,240,240);
}

.add-container textarea:focus {
  background-color:white;
  color:grey;
}

.add-container .form-group{
  margin-top:5%;
  margin-bottom:5%
}

.add-container input[type=text]::placeholder {
  color:grey;
	font-weight:bold;
	font-size:15px;
}

.add-container  input[type=submit]{
	color:white;
	font-weight:bold;
	font-size:15px;
	background-color:red;
	padding-top:1.6%;
	padding-bottom:1.6%;
	padding-left:2%;
	padding-right:2%;
	width:45%;
	border-color:black;
	border-radius:40px;
	margin-top:5%;
	margin-left:30%;
	/*border-top-left-radius:40%;
	border-bottom-left-radius:40%; */

}


.cover-img {
    width:220px;
    height:320px;
    border-style:solid;
    /*background-color:blue; */
    text-align:center;
    margin-left:10%;
    
  }


  .main-book-wrapper {
    display:flex;
    flex-flow:row;
    /*background-color:rgb(150, 144, 134); */
    background-color:rgb(252, 55, 21);
    /*height:700px; */

    -moz-box-shadow:    3px 3px 5px 6px rgb(245, 229, 229);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(245, 229, 229);
    box-shadow:         3px 3px 6px 5px rgb(245, 229, 229);
  }

  .main-book-wrapper > div {
    margin:auto;
  }

  .main-book-wrapper .sidebar-wrapper {
    height:100%; 
    width: 30%;
    background-color:rgb(252, 55, 21);
  }

  .main-book-wrapper .sidebar-wrapper .sidebar-links a {
    display:block;
    margin:5%;
    margin-left:auto;
    margin-right:auto;
    text-decoration:none;
    text-align:center;
    color:white;
    background-color:rgba(255, 152, 111,0.5);
    width:50%;
    border-radius:30px;
  }

  .main-book-wrapper .sidebar-wrapper .sidebar-links{
    position:relative;
    top: -100px;
  } 

  .main-book-wrapper .book-wrapper {
    height:100%;
    width: 70%;
    background-color: rgb(245, 229, 229);
  }

  .main-book-wrapper .book-wrapper .book-header {
    border-style:solid;
    border-color:orangered;
    border-top:0; border-left:0; border-right:0;
  }


  .book-content-wrapper .book-list-wrapper {
    display:flex;
    flex-flow: row wrap;
    height:100%;
    width:100%;
    /*background-color:blue; */
  }

  .book-content-wrapper .book-list-wrapper .book {
    margin:2%;
    margin-left:10%;
   /* background-color:grey; */
  }

  #book-title, #bk-author, #book-rating {
    margin:0px;
    text-align:center;
  }

  #book-author{
    margin:0px;
  }


  #book-cover {
    width:120px;
    height:150px;
  }

  #book-detail-cover {
    width:240px;
    height:300px;
    margin-left:30%;
    margin-right:auto;
    margin-top:2%;
  }

  #book-content-desc {
    margin:2%;
  }

  #option-btn{
    margin-left:35%;
    margin-right:auto;
  }

  #read-now {
    margin: 1%;
    padding: 2%;
    background-color:red;
    color:white;
    font-weight:bold;
  }

  #downl {
    margin: 1%;
    padding: 2%;
    background-color:green;
    color:white;
    font-weight:bold;
  }

  .add-container .info{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:rgb(13, 13, 105);
    color:white;

    /* shadow */
	-moz-box-shadow:    3px 3px 5px 6px blue;
  -webkit-box-shadow: 3px 3px 5px 6px blue;
  box-shadow:         3px 3px 6px 5px blue;
  }


  #wygp-search-wrapper {
    margin-right:auto;
    margin-left:auto;
    margin-top: 2%;
    width:90%; 
  }

  #wygp-search-wrapper form label {
    margin-right: 5%;
  }

  #wygp-search-wrapper input[type='radio'] {
    margin-left: 1%;
    margin-top: 2%;
    width: 15px;
    height: 15px;
  }
  
